A:link {text-decoration: none; color: #00cc00; }
A:visited {text-decoration: none; color: #000000;}
A:hover {text-decoration: underline; }
pre {
border: 1px dotted;
background: #ffe9e9;
padding: 10px;
}

table {
 border-width:1px;
 border-style: hidden;
 border-collapse: collapse;
}
table td {
 border-width:1px;
 padding: 1px;
 border-style: dotted;
 border-color:grey;
}

#help_content {
 border: 1px dotted;
 background: #ffe9e9;
 display: none;
 float:left;
 margin-bottom: 10px;
 width: 99%;
}
#help_content h3 {
 margin: 0px;
}
#help_text {
 float: left;
  margin: 0px 10px 10px 10px;
}

#hide_help {
 text-align: right;
 float: right;
}

#show_help {
 display: none;
 text-align: right;
 float: right;
 margin:1px;
}
#show_help A:visited {
color: #00cc00;
}
#hide_help A:visited {
color: #00cc00;
}
#help_text A {
color: #00cc00;
text-decoration: underline;
}
#menu A:visited {
color: #00cc00;
}

